.estoque-container {
    background-color: white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.estoque-content {
    margin-top: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}